In [1]:
Mellat-Leak

NameError: name 'Mellat' is not defined

In [17]:
import pandas as pd

df3 = pd.read_csv("MO003.csv")
#df9 = pd.read_csv("MO009.csv", error_bad_lines=False)

#df.apply(lambda x: pd.lib.infer_dtype(x.values))

df.head(10)

,49******38,926****274,ميرسعيد,حسني,ميرحسن,4********8,13******16,خوي,اذربايجان غربي,چایپاره,آذربایجان غربی,*,093*****871
0,42******32,561****974,علي,شايسته نيا,عليرضا,2**0,13******01,ياسوج -بويراحمد,کهکيلويه وبويراحمد,بویراحمد(یاسوج),کهکیلویه و بویراحمد,*,091*****066
1,28******95,188**989,علي عسگر,خلخالي,گل محمد,1**1,13******05,خوي,اذربايجان غربي,خوی,آذربایجان غربی,*,None
2,14******86,876****025,محمدحسين,ميرزامحمدي كريق,عارف,5*1,13******23,اردبيل,اردبيل,اردبیل,اردبیل,*,091*****182
3,00******49,398****621,حميدرضا,ابراهيمي,ابوالقاسم,2***4,13******10,None,None,تهران مرکزی,تهران,*,093*****101
4,64******77,830****862,طاهره,كاخكي جاغرق,غلامحسين,1*4,13******03,مشهد,خراسان رضوي,احمدآباد,خراسان رضوی,*,091*****761
5,22******00,169****163,فرشيد,جوادي,امين اله,4*2,13******20,تنكابن,مازندران,تنکابن,مازندران,*,091*****646
6,10******12,203****202,ابوالفضل,حسن آبادي,محمدحسين,1********2,13******01,None,None,نیشابور,خراسان رضوی,*,091*****861
7,03******04,436****361,علي,جعفري نيابهرام,جمشيد,0********4,13******28,None,None,کرج,تهران,*,091*****287
8,23******05,317****961,ستاره,شيخي,علي مراد,2*9,13******10,كازرون,فارس,کازرون,فارس,*,091*****486
9,20******11,931****280,ابراهيم,كمانگر,عبدالحسين,1*1,13******02,دزفول,خوزستان,دزفول,خوزستان,None,091*****056

In [18]:
df.filter(like='شرفدینی', axis=0)

Empty DataFrame
Columns: [49******38, 926****274, ميرسعيد, حسني, ميرحسن, 4********8, 13******16, خوي, اذربايجان  غربي, چایپاره, آذربایجان غربی, *, 093*****871]
Index: []

In [ ]:
del df

In [13]:
l = [df3, df9]
df = pd.concat[l]

TypeError: 'function' object is not subscriptable